@font-face{
    font-family: 'Segoe UI';
    src: url('../fonts/Segoe-UI.ttf') format('truetype');
    font-style: normal;
}
@font-face{
    font-family: 'Bitter-Regular';
    src: url('../fonts/Bitter-Regular.otf') format('truetype');
    font-style: normal;
}
